{% extends "bootstrap/base.html" %}

<!-- BLOCO DE TÍTULO DA PÁGINA -->
{% block title %}Avaliação Contínua{% endblock %}

<!-- BLOCO DE ÍCONE -->
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

<!-- BLOCO DE NAVBAR -->
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- Menu responsivo do professor -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <!-- Passando a utilizar url_for -->
            <a class="navbar-brand" href="{{ url_for('index') }}">Avaliação contínua: <strong>Aula 040</strong></a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <!-- Lembrar de passar a variável, quando necessário -->
                <li><a href="{{ url_for('user', name='Mario Bordignon') }}">Identificação</a></li>
                <li><a href="{{ url_for('contextorequisicao', name='Mario Bordignon') }}">Contexto da requisição</a></li>
                <li><a href="{{ url_for('formulario') }}">Formulário</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

<!-- Recomendação do professor: evita repetição-->
{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}