{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>E-mails enviados</h1>
</div>
<p>Relação de e-mails enviados para o administrador do sistema, notificando o cadastro de novos usuários.</p>

<table class="table">
    <thead>
        <tr>
            <th>De</th>
            <th>Para</th>
            <th>Assunto</th>
            <th>Texto</th>
            <th>Data/Hora</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emails %}
        <tr>
            <td>{{ email.de }}</td>
            <td>{{ email.para }}</td>
            <td>{{ email.assunto }}</td>
            <td>{{ email.texto }}</td>
            <td>{{ moment(email.data_hora).format('DD/MM/YYYY HH:mm:ss') }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Nenhum e-mail enviado ainda.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}