{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<!-- FLASH -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}

<div class="page-header">
    <h1>Olá, {{ prontuario }} {{ nome }}!</h1>
</div>

<p style="font-size: 20px;">A sua Instituição de ensino é {{ instituicao }}</p>
<p style="font-size: 20px;">Está cursando a disciplina de {{ disciplina }}</p>

<br>

<p>O IP do computador remoto é: {{ ip_cliente }}</p>
<p>O host da aplicação é: {{ host_app }}</p>

<hr>

{{ wtf.quick_form(form) }}

{% endblock %}
